@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.md-copyright {
    display: none;
}

:root,

[data-md-color-scheme="slate"] {
    --md-default-fg-color: #e9eef4 !important;
    --md-default-bg-color: #22262c;
    --fg-color: 233, 238, 244;
}

h1 {
    font-family: "Noto Serif", serif;
    font-weight: 420 !important;
    letter-spacing: -0.015em;
}

h2 {
    font-family: "Noto Serif", serif;
    font-weight: 410 !important;
}

h3, h4, h5, h6 {
    font-family: "Noto Serif", serif;
    font-weight: 400 !important;
}
